<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        strict="true"
        verbose="true">
    <php>
        <ini name="memory_limit" value="1024M" />
        <ini name="error_reporting" value="E_ALL"/>
    </php>
    <testsuite name="OWASP PHPSecurity library">
        <directory>./test/libs</directory>
        <directory>./test/tools</directory>
    </testsuite>
</phpunit>
