<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Hi!...Welcome to RNJ...</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<div id="header">																																																																								
	<div id="header_inside">
		<img src="images/ban.png" alt="banner" width="1000" height="222" border="0" usemap="#Map" /><br />																																										
		<ul id="menu">
			<li><a href="index.php" class="but1_active">Home</a></li>
			<li><a href="registration.php" class="but2_active">Register</a></li>
			<li><a href="employee_login.php" class="but3_active">Employee</a></li>
			<li><a href="search.php" class="but5_active">Search</a></li>
		</ul>
	</div>
</div>	




<div id="wrapper">	
	
	<div id="content_inside">
		<div id="sidebar">
			<h1>Categories</h1>
			<ul id="list">
				<li><a href='category.php?cid=1'>Beauty</a></li><li><a href='category.php?cid=2'>Books</a></li><li><a href='category.php?cid=3'>Clothing</a></li><li><a href='category.php?cid=4'>Electronics</a></li><li><a href='category.php?cid=5'>Sports</a></li>				
			</ul>
		</div>																																																																								
		
		<div id="main_block" class="style1">	
						
			<div id="item">
				<h4>
				
				(From what Category )
				
				</h4><br />
				<div class="big_view">
					<img src="images/p1.jpg" alt="" width="404" height="346" /><br />
				</div>
			</div>
			<div class="description">
				<p style="font-size:20px;color">
					Product Name:
				</p>
				<p style="font-size:20px;color">
					Product ID:
				</p>
				<p style="font-size:20px;color">
					Price:  
				</p>
				<p style="font-size:20px;color">
					Rating: /5
				</p>

			</div>
		</div>
	</div>
</div>
</body>
</html>
